.view-task {
	width: 200px;
	hieght: 350px;
	border: 1px solid #538c51;
	background-color: #538c51;
	margin-top: 15px;
	text-align: center;
	overflow: hidden;
	padding: 30px;
}

.view-task p {
	color: white;
}
