:root {
	--bg-blue-dark : #0570eb;
	--bg-blue-light: #5ba7ff;
	
	--aside-width: 100px;
	
	--footer-height: 45px;
	--logo-height: 50px;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', 'sans-serif';
}

/* Layout em Grid */

.app {
	margin: 0px;
	display: grid;
	grid-template-columns: var(--aside-width) 1fr;
	grid-template-rows:
		var(--logo-height)
		1fr
		var(--footer-height);
	grid-template-areas:
		"menu content"
		"menu content"
		"menu footer";
	min-height: 100vh;
	background: linear-gradient(
		var(--bg-blue-dark),var(--bg-blue-light));
}

@media(max-width: 768px) {
	.app {
		grid-template-columns: 1fr;
		grid-template-areas:
			"menu"
			"content"
			"footer"
	}
}

aside.logo {
	grid-area: logo;
}

aside.menu-area {
	grid-area: menu;
}

main.content {
	grid-area: content;
}

footer.footer {
	grid-area: footer;
}
